.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: transparent;
  z-index: -1;
    justify-content: space-between;
    align-items: center;
}

.logo {
  height: 120px;
  margin-top: 7%;
  margin-left: 2%;
}