.chat {
  display: flex;
  flex-direction: column-reverse;
  height: 100vh;
  width: 80%;
  margin: 0 auto;
  font-family: 'Arial', sans-serif;
}

.chat__messages {
  flex: 1;
  padding: 10px;
  font-size: 20px;
  display: flex;
  flex-direction: column-reverse; /* Reverse the direction */
  width: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.7) transparent;
}


.chat__message {
  max-width: 60%; /* This will prevent the message from expanding beyond 60% of its container */
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  word-wrap: break-word;
}

.chat__userMessage {
  align-self: flex-end;
  background-color: #dcf8c6;
}

.chat__input {
  display: flex;
  padding: 20px;
  border-radius: 15px;
  background-color: transparent;
}

.chat__input input {
  padding: 10px;
  border: none;
  border-radius: 15px;
  font-size: 20px;
  background-color: gray;
  word-wrap: break-word;
  width: 100%;
  overflow-wrap: break-word;
}

.chat__input button {
  width: 100px;
  padding: 10px;
  border: none;
  border-radius: 15px;
  background-color: cyan;
  color: white;
  cursor: pointer;
  font-size: 20px;
}

.chat__input form {
  max-width: 200px; /* This will prevent the input form from expanding beyond 200px */
  align-items: flex-end;
  border-color: transparent;
}
