.chat {
  display: flex;
  flex-direction: column-reverse;
  height: 100vh;
  width: 80%;
  margin: 0 auto;
  font-family: 'Arial', sans-serif;
}

.chat__messages {
  flex: 1;
  overflow: auto;
  padding: 10px;
  font-size: 20px;
  display: flex;
  flex-direction: column-reverse;
  width: 100%; /* Set a fixed width for the messages container */
}

.chat__message {
  max-width: 60%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  word-wrap: break-word;
}

.chat__userMessage {
  align-self: flex-end;
  background-color: #dcf8c6;
}

.chat__input {
  display: flex;
  padding: 20px;
  border-radius: 15px;
  background-color: transparent;
}

.chat__input input {
  width: 200px; /* Set the desired fixed width */
  max-width: 100%; /* Ensures it doesn't exceed the parent's width */
  padding: 10px;
  border: none;
  border-radius: 15px;
  font-size: 20px;
  background-color: black;
}

.chat__input button {
  width: 100px; /* Set the desired width */
  padding: 10px;
  border: none;
  border-radius: 15px;
  background-color: cyan;
  color: white;
  cursor: pointer;
  font-size: 20px;
}

.chat__input form {
  flex: 1; /* Take up remaining space */
  display: inline-flex;
  align-items: flex-end; /* Center items vertically */
  border-color: transparent;
}
