/* MenuButton.css */
.menu-button {
    position: absolute;
    right: 2rem;
    top: 1.4rem;
    padding: 10px 20px;
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    z-index: 100000;;
    box-sizing: 0px 0px 2px 2px #0ff;
}
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
}
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
}

.ledLogo{
    justify-self: top;
    height: 200px;
}

.textbook_options {
    font-size: 1.25rem;
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}